<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container fluid class="px-auto py-auto" style="padding-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;">
          <v-parallax src="/images/Abstract-03-retry.jpg" height="1250">
            <v-row align="center" justify="center">
              <v-col class="text-center" cols="12">
                <h1 class="text-h4 font-weight-bold mb-4" style="text-shadow: 2px 2px 4px black;">
                  hi, i'm tim ortega. welcome!
                </h1>
                <h4 class="subheading mb-4" style="text-shadow: 2px 2px 4px black;">
                  please hire me.
                </h4>
                <v-row dense>
                  <v-col class="text-center">
                    <v-card width="500" class="mx-auto rounded-xl white--text" color="primary" elevation="20">
                      <v-avatar class="ma-3" size="125" tile left>
                        <v-img src="/images/headshot1.jpg" contain class="rounded-circle"></v-img>
                      </v-avatar>
                      <v-card-title class="white--text justify-center">Senior Full Stack Developer</v-card-title>
                      <v-card-subtitle class="white--text">at Konsente, LLC</v-card-subtitle>
                      <v-card-text class="white--text">Contact me at timortega95@gmail.com or (707) 382-9908.</v-card-text>
                      <v-card-text class="white--text">Check out my skills!</v-card-text>
                      <v-tabs fixed-tabs v-model="tab" background-color="primary">
                        <v-tab v-for="i in tabs" :key="i.name">{{ i.name }}</v-tab>
                      </v-tabs>
                      <v-tabs-items v-model="tab">
                        <v-tab-item v-for="k in tabs" :key="k.text">
                          <v-card class="mx-auto">
                            <v-card-text class="black--text">{{ k.text }}</v-card-text>
                          </v-card>
                        </v-tab-item>
                      </v-tabs-items>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>

            <v-container>
              <v-row dense>
                <v-col v-for="card in cards" :key="card.title" :cols="card.flex">
                  <v-card max-width="600" max-height="175"class="mx-auto my-5 rounded-xl white--text" color="primary" elevation="20">
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <div>
                        <v-card-title v-text="card.title" style="word-break: break-word"></v-card-title>
                        <v-card-subtitle class="white--text" v-text="card.text"></v-card-subtitle>
                        <v-card-actions>
                          <v-btn absolute left bottom class="white--text" text :href="card.link" target="_blank">Check It Out!</v-btn>
                        </v-card-actions>
                      </div>
                      <v-avatar class="ma-3" size="150" tile>
                        <v-img contain :src="card.src"></v-img>
                      </v-avatar>
                    </div>
                  </v-card>
                </v-col>
              </v-row>    
            </v-container>
            <a href="https://www.vecteezy.com/free-vector/background" target="_blank">Background Vectors by Vecteezy</a>
          </v-parallax>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: {
          themes: {
            light: {
              primary: '#3F51B5',
            }
          }
        }
      }),
      data() {
        return {
          navbtns: [{icon: "mdi-help-box", title: "test", link: ""},
            {icon: "mdi-help-box", title: "test1", link: ""},
            {icon: "mdi-help-box", title: "test2", link: ""}],
          title: "Tim Ortega",
          drawer: false,
          cards: [{title: "Konsente", src:"/images/konsente.png", text:"A dating app addon to help feel more secure and better matched on meetups.", link: "https://konsente.com/", flex:"6"},
            {title: "FreeCodeCamp", src:"/images/fcc_primary_small.png", text: "My certificates that I earned to help me build Konsente.", link: "https://www.freecodecamp.org/timortega95", flex:"6"},
            {title: "GitHub", src:"/images/GitHub-Mark.png", text: "My personal GitHub for some tiny side-projects to help hone my skills while working on Konsente.", link: "https://github.com/augustineus", flex:"6"},
            {title: "LinkedIn", src:"/images/linkedinlogo.png", text: "My LinkedIn profile to see all my work history, connections, courses, certificates, and interests.", link: "https://www.linkedin.com/in/timothy-r-ortega-jr-845aa3134/", flex:"6"}],
          tabs: [{name: "Python", text: "Django, Django REST Framework (DRF), Selenium" },
            {name: "JavaScript", text: "React, Redux, jQuery, Bootstrap, Node Packet Manager (NPM), Node, Express, Chai, Vue, Vuetify, D3" },
            {name: "Databases", text: "SQL, SQLite, PostgreSQL, MongoDB" },
            {name: "Misc. Exp.", text: "Git, GitHub, GiTEA, Linux, Bash, AWS, Docker"}],
          tab: true,
        }
      }
    })
  </script>
</body>
</html>
<!--["JavaScript", "React", "Python", "Django", "jQuery", "HTML", "CSS","SASS","Redux" ,"NPM", "Node.js", "Express", "MongoDB", "Mongoose", "Chai"]-->